@media (prefers-color-scheme: dark) {
    html {
        background-color:black !important;
    }
    .box {
        background-color:rgb(8, 218, 233) !important;
    }
    .input {
        background-color:rgb(206, 197, 197) !important;
    }
    }

    .bloup {
        text-align: center;
    }